.env
.vscode/**
.vscode-test/**
src/**
tsconfig.json
publish.sh
.gitignore
.vscodeignore
universal-spreadsheet-markdown-editor-*.vsix
node_modules/@types/**
node_modules/@typescript-eslint/**
node_modules/eslint/**
node_modules/typescript/**
node_modules/ovsx/**
node_modules/vsce/**
